.main-view-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Template Container */
.template-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.template-container,
.workout-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Pushes button to bottom */
}

.page-title {
    margin: 30px 0px;
}


h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
}

.empty-workout-container {
    margin: 30px 0px;
}

.template-cards-container {
    margin: 20px 0px;
    display: grid;
    /* So that I can split the cards into 2 columns */
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 20px;
}

.template-card {
    width: 290px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.template-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* to vertically align the component */
}

.template-card p {
    font-size: 1.1rem;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 👈 Limit to 3 lines */
    line-clamp: 3;
    /* ✅ Standard version for future support */
    overflow: hidden;
}

.my-template-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    font-size: bold;
    cursor: pointer;
    text-align: center;
    color: #34a7ff;
    background-color: #ebf6ff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 100;
    padding: 10px;
    flex-direction: column;
}

.dropdown-menu button {
    display: block;
    background: none;
    border: none;
    text-align: left;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.dropdown.open .dropdown-menu {
    display: flex;
}

/* Workout Container */
.workout-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}


.workout-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.workout-name {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding-left: 10px;
    border: transparent;
}

.workout-notes {
    font-size: 1.25rem;
    color: #999;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 30px;
    border: transparent;
}

/* Exercise Container */
.exercise-container {
    max-width: 100%;
    width: 50%;
}


.exercise-container .exercise-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #34a7ff;
    padding-left: 10px;
    border: none;
}

.exercise-container .exercise-name::placeholder {
    /* Also makes the placeholder blue */
    color: #34a7ff;
}

/* Base Button Style - Applies to All Buttons */
.full-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    /* Pushes button down */
    cursor: pointer;
    /* Improves UX */
    transition: background 0.3s ease, color 0.3s ease;
}

.full-button.blue {
    color: #34a7ff;
    background-color: #ebf6ff;
}

.full-button.blue.inverted {
    color: #ebf6ff;
    background-color: #34a7ff;
}

.full-button.grey {
    color: #333;
    background-color: #e0e0e0;
}

.full-button.red {
    color: #ff5963;
    background-color: #ffeef0;
}


/* Hover Effects for Buttons */
.full-button:hover {
    opacity: 0.8;
    transform: scale(1.02);
}


/* Table Styling */
.set-table {
    max-width: 600px;
    /* Limits how wide the table can go */
    table-layout: auto;
    /* Forces columns to follow set width */
    border-collapse: separate;
    /* Ensures consistent alignment */
    text-align: center;
    /* Ensures uniform alignment */
    border-spacing: 10px 20px;
    padding-left: 0px;
}

/* Table Header */
.set-table thead th {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    /* Prevents line breaks */
}

/* Table Header */
.set-table select {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    /* Prevents line breaks */
    align-items: center;
    border: transparent;
}

/* Table Rows */
/* Interestingly, tr doesn't have border or magin */
.set-table tbody .set-row {
    background: white;
    min-height: 50px;
    /* Set a minimum row height */
    height: auto;
    /* Allow row to grow if needed */
}

/* Set Number Styling */
.set-table tbody .set-number {
    font-weight: bold;
    font-size: 1.1rem;
    background: #e0e0e0;
    color: black;
    border-radius: 20px;
    padding: 5px 10px;
    height: 35px;
    width: 50px;
}

.set-table tbody .long-cell {
    width: 150px;
}

.set-table tbody .short-cell {
    width: 50px;
}

/* Previous Values - Light Gray */
.set-table tbody .set-description {
    color: #999;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: transparent;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adds "..." if text is too long */
    white-space: nowrap;
    /* Prevents multi-line wrapping */
    text-align: center;
}

/* Set Value */
.set-table .numInput {
    background: #e0e0e0;
    padding: 5px 10px;
    border: 0px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    height: 35px;
    width: 150px;
}


/* Status Column */
.set-table tbody .set-status {
    background: #e0e0e0;
    font-size: 1.2rem;
    border: transparent;
    border-radius: 20px;
    text-align: center;
    color: black;
    white-space: nowrap;
    /* Ensures ✔️ doesn't expand */
    height: 35px;
    width: 50px;
}

.small-button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: transparent;
    border-radius: 10px;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    width: 50px;
}

.small-button:hover {
    opacity: 0.8;
    transform: scale(1.02);
}


.finish-button {
    margin-left: auto;
    background: #2dcd70;
    padding: 10px 15px;
    width: auto;

    cursor: pointer;
    /* Improves UX */

}

.delete-btn {
    background-color: #ff5963;
    text-align: center;
    height: 35px;
    width: 35px;
}


.widget-button {
    font-size: 1.1rem;
    font-weight: 500;
    color: #34a7ff;
    background-color: #ebf6ff;
    border: transparent;
    border-radius: 10px;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    width: auto;
    padding: 5px;
}


/* Ensure buttons, spans, and tables have the same width */
.workout-container,
.exercise-container,
.exercise-container span,
.add-btn {
    width: 100%;
    min-width: 600px;
    max-width: 600px;
}

/* SAVED: Special styling when the set is saved */

.set-table tbody .set-row.freeze {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: inset 0 0 0 1000px #eaf9f0;
    /* Creates a full background effect */
}

.set-table tbody .set-row.freeze td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

/* Set Number Styling */
.set-table tbody .set-row.freeze .set-number,
.set-table tbody .set-row.freeze .set-description,
.set-table tbody .set-row.freeze input {
    border: transparent;
    background: transparent;
}

.set-table tbody .set-row.freeze .set-status {
    color: white;
    background: #2dcd70;
    font-size: 1.4rem;
    font-weight: bold;
    height: 35px;
    /* Keep button size fixed */
    line-height: 35px;
    /* Center text */
    display: inline-block;
    /* Prevent stretching */
    vertical-align: middle;
    /* Align inside the cell */
}


.modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0; /* means to extend the size from the very top to end */
    left: 0; /* means to extend the size from the very left to right */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* position the modal to the center */
    /* without align-center, the modal would stretch. This controls the alignment of items on the cross axis */
    align-items: center; 
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close-modal {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}