{% extends "stronger/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<div class="main-view-wrapper">
    <h2>Exercise Records</h2>
    <p>List all the exercises here</p>
    <div style="width: 800px;">
        <canvas id="myChart"></canvas>
      </div>
</div>


{% else %}
<p>Sign up to become a member</p>
{% endif %}

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="{% static 'records.js' %}"></script>
{% endblock %}
