{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<div class="listing-detail">
  <div class="listing-detail-container">
    <div class="left-column">
      <div class="image-section">
        <img src="{{ listing.imageURL }}" alt="{{ listing.title }}" class="listing-image-detailed" />
      </div>

      <div class="info-section">
        <h1 class="listing-title">{{ listing.title }}</h1>

        <p class="listing-description">{{ listing.description }}</p>
        <p class="listing-price">
          <strong>Starting Price:</strong> ${{ listing.starting_bid }}
        </p>
        <p class="listing-category">
          <strong>Category:</strong> {{ listing.category }}
        </p>
        <p class="listing-state">
          <strong>Status:</strong> {{ listing.state }}
        </p>
        {% if listing.highest_bid %}
        <p class="listing-bid">
          <strong>Current Highest Bid:</strong> ${{ listing.highest_bid }}
        </p>
        {% else %}
        <p class="listing-bid">
          <strong>Current Highest Bid:</strong> No bids yet
        </p>
        {% endif %}

        {% if listing.winner %}

        <br>
        <h3>This auction for this listing has ended</h3>

        {% else %}

        <div class="listing_auction">

          {% if user.is_authenticated %}

          <!-- Allow the seller to close his own listing -->
          {% if listing.seller == user %}

          <form method="post" action="{% url 'close_auction' listing.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-bid" value="Close Auction">
          </form>


          {% else %}

          <div class="bid-section">
            <h3>Place Your Bid</h3>


            <!-- Note that the variable listing.id here is 
            actually defined in urls (e.g. <int:product_id) -->
            <form method="post" action="{% url 'add_bid' listing.id %}" class="bid-form">
              {% csrf_token %}
              <label for="amount">Bid Amount:</label>
              <input type="number" step="10" name="new_bid_amount" id="amount" required />
              <button type="submit" class="btn btn-bid">Place Bid</button>
            </form>


            {% if message %}
            <div>{{ message }}</div>
            {% endif %}

          </div>

          {% endif %}

          {% else %}
          <div>You need to log in to bid for this item</div>
          {% endif %}

          <div class="listing-actions">
            {% if user.is_authenticated %}

            {% if listing.seller == user %}
            {% else %}

            <!-- Show watchlist to signed in users-->
            {% if show_watchlist == True %}

            <form method="post" action="{% url 'add_watchlist' listing.id %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-bid" value="Add to Watchlist">
            </form>

            {% else %}
            <!-- If the user already has the item in the watchlist, then show the Remove from Watchlist button instead -->
            <form method="post" action="{% url 'remove_watchlist' listing.id %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-bid" value="Remove from Watchlist">
            </form>
            {% endif %}

            <!-- Return message if the item was added to the watchlist successfully or not -->
            {% if watchlist_message %}
            <div>{{ watchlist_message }}</div>
            {% endif %}
            {% endif %}

            {% else %}
            <p>Sign in to add this item to your watchlist</p>
            {% endif %}

          </div>

        </div>

        {% endif %}

      </div>

    </div>

    <div class="right-column">
      <div class="comments-section">
        <h2>Comments</h2>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment">
          <p class="username">{{ comment.user.username }}</p>
          <p class="comment-text">{{ comment.comment_text}}</p>
          <p class="comment-date">{{ comment.comment_date }}</p>
          {% if comment.days_since_posted < 1 %} <p class="comment-days">Just now</p>
            {% else %}
            <p class="comment-days">{{ comment.days_since_posted }} days ago</p>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>No comments yet. Be the first to comment!</p>
        {% endif %}

        <br>

        {% if user.is_authenticated %}
        <div class="comment-form">
          <h3>Leave a Comment</h3>
          <form action="{% url 'add_comment' listing.id %}" method="POST">
            {% csrf_token %}
            <textarea placeholder="Write your comment..." id="comment_input" name="comment_input_box"
              rows="6"></textarea>
            <button type="submit" class="btn btn-comment">Post Comment</button>
          </form>
        </div>
        {% else %}
        <p>You need to log in to leave a comment</p>
        {% endif %}


      </div>
    </div>

  </div>
</div>
{% endblock %}