/* Colors */
:root {
    --green-primary: #50a65c;
    --green-secondary: #6cbc73;
    --green-tertiary: #a5d4a7;

    --light-primary: #f8faed;
    --light-secondary: #f1f5df;
    --light-tertiary: #e4eac6;

    --dark-primary: #232323;
    --dark-secondary: #3B3B3B;
    --dark-tertiary: #4C4C4C;
    --dark-border: #2F2F2F;

    --gray: #c4c5ba;
    --red: #E17878;
}

/* avoid overflow on mobile */
html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


/* Reset & base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  border-box makes width and height include padding and borders */
}


/* -*- Basic Styles -*- */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--dark-primary);
    color: #222;
    line-height: 1.6;
}


/* Typography */
h1,
h2,
h3 {
    font-weight: 800;
    color: #222;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}


p {
    font-size: 1rem;
    line-height: 1.5;
}



/* Centered container */
.app-container {
    padding-top: calc(env(safe-area-inset-top, 0px) + 1.25rem);
    /* Avoid Apple safe-area-inset */
    width: 100%;
    max-width: 600px;
    /* great for iPhone 14 Pro Max and readable on desktop */
    margin: 0 auto;
    background: var(--light-primary);
    /* Side padding on small screens */
}

/* Add side padding only on wider screens */
@media (min-width: 601px) {
    .app-container {
        padding: 0 1rem;
    }
}

/* Main content */
.app-content {
    background: var(--light-primary);
    margin: 0 auto;
}

.home-view-container {
    padding: 1.25rem;
}

/* Optional header styling */
.home-header {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    padding: 0 1.25rem;
}


/* To rename these components later! */

.speech-bubble {
    background-color: var(--var(--light-primary));
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    max-width: 180px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Task card */
.task-card {
    background-color: var(--var(--light-primary));
    border-radius: 1.25rem;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.task-title {
    font-weight: 600;
    font-size: 1rem;
}

/* ------------------------------------------------------------------------- */

/* -*- HOME styles -*- */

.my-template-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.template-cards-container {
    /* margin: 20px 0px; */
    margin-top: 1rem;
    display: grid;
    /* So that I can split the cards into 2 columns */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.template-card {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid var(--light-tertiary);
    background-color: var(--light-tertiary);


    width: 100%;
    height: 10rem;

    padding: 0.75rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* start flushing everything from start to bottom */

    gap: 0.5rem;

    line-clamp: 3;
}

.template-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {  /* the dropdown toggle with elipses */
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.25rem;
    font-size: bold;
    cursor: pointer;
    text-align: center;
    color: var(--green-primary);
    background-color: var(--light-primary);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 100px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    z-index: 100;
    padding: 10px;
    flex-direction: column;
    background-color: var(--light-primary);
}

.dropdown-menu button {
    display: block;
    background: none;
    border: none;
    border-radius: 0.5rem;
    text-align: left;
    padding: 8px;
    width: 100%;
    cursor: pointer;  
    background-color: var(--light-primary);
}

.dropdown-menu button:hover {
    background-color: #dfe6bc;
}

.dropdown.open .dropdown-menu {
    display: flex;
}

.saved-temlate-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2rem;  /* this is so that the bottom of the text is not cut off */
}

/* ------------------------------------------------------------------------- */

/* -*- FORM styles -*- */

.log-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.log-form-header {
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: flex-start;
}

/* Make sure the font-size for the placeholder and the value is the same, otherwise it will look cut off */
.log-name {
    line-height: 1.2;
    font-size: 2.2rem;
    border: transparent;
    background: transparent;
}

.log-name::placeholder {
    font-weight: 700;
    color: var(--dark-primary);
    font-size: 2.2rem;
}

.log-notes,
.template-desc {
    background: transparent;
    border: transparent;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.log-notes::placeholder {
    background: transparent;
    border: transparent;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray);
}

.log-form-content {
    background: var(--dark-primary);
    border-radius: 2rem 2rem 0 0;
    padding: 0.75rem 1.25rem 1rem;
}

.exercise-container {
    padding: 0.5rem 0 1.25rem;
}

.exercise-name {
    font-size: 1.25rem;
    font-weight: 600;
    width: 100%;
    background: transparent;
    border: transparent;
    color: var(--light-primary);
    line-height: 1rem;
}

.exercise-name::placeholder {
    font-size: 1.25rem;
    font-weight: 600;
    background: transparent;
    color: var(--light-primary);
}


.session-table {
    border-collapse: collapse; /* Ensures <thead> and <tbody> align */
    border-spacing: 0; /* Remove the faint lines between the td */
    width: 100%;
    color: var(--gray);
    box-sizing: border-box;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.75rem;
}

.session-table thead th {
    border-bottom: 1px solid #ccc;
}

.session-table thead th,
.session-table tbody td {
    padding: 0.5rem 0.25rem;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    
}

/* Prevent auto padding to my td element */
.session-row td { 
    padding: 0 0.25rem !important;
}

/* Column widths (matching your 6-column layout) */
.session-table .score-header,
.session-table .score-cell {
    width: 16.67%;

}

/* Score */

.session-table .duration-header,
.session-table .duration-cell {
    width: 25%;
}

.session-table .target-duration-cell,
.session-table .target-duration-cell {
    width: 37.5%;
}

/* Duration */

.session-table .bpm-header,
.session-table .bpm-cell {
    width: 16.67%;
}

/* BPM */

.session-table .speed-header,
.session-table .speed-cell {
    width: 16.67%;
}

/* Speed(%) */

.session-table .status-header,
.session-table .status-cell {
    width: 12.5%;
}

/* ✓ Save */

.session-table .delete-header,
.session-table .delete-cell {
    width: 12.5%;
}

/* Del */


/* Ensure inputs fit nicely */
.session-table input {
    width: 100%;
    padding: 0.25rem;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: var(--light-primary);
}

.session-table .session-duration::placeholder {
    color: var(--light-primary);
}

.session-table .session-duration {
    background-color: var(--dark-primary);
    border: none;
    color: var(--light-primary);
}

.session-table input.is-saved { /* Color all the input box green */
    background-color: var(--green-primary);
    cursor: default;
}

.session-table input.is-saved::placeholder {  /* Make the placeholder text white */
    color: var(--light-primary);
}




/* ------------------------------------------------------------------------- */

/* -*- BUTTON styles -*- */

.button {
    display: block;
    font-family: 'DM Sans', sans-serif;
    border: none;
    border-radius: 999px;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button--primary {
    background-color: var(--green-primary);
    color: var(--light-primary);
}

.button--secondary {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
}

.button--light {
    background-color: #efefef;
    color: var(--dark-primary);
}

.button--danger {
    background-color: var(--red);
    color: var(--light-primary);
}


.button--full {
    width: 100%;
    margin: 0.5rem 0 2rem;
}

.button--thin {
    padding: 0.25rem 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
}


/* Hover effects */
.button--primary:hover {
    background-color: #3e8e41;
}

.button--danger:hover {
    background-color: #c14444;
}

.button--secondary:hover {
    background-color: var(--dark-tertiary);
}

.button--light:hover {
    background-color: #dfe6bc;
}


.is-selected {
    background-color: var(--green-primary);
    color: var(--light-primary);
    cursor: pointer;
}

.is-unselected {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
}

/* Keep buttons compact */
.session-status,
.delete-btn {
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.25rem 0.5rem;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    /* Prevent iOS default styling */

}